<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   

    <title>RESULTS</title>
  </head>
  <body><form method="POST">
    <div align="center">
      <h1>PLAGARISM RESULTS</h1><br/><br/>
      <div class="container">
      {% for dataa in data%}
      {{ dataa }}<br/><br/>
      {% endfor %}</div>

      <br/><br/><br/>

      <button type="submit" class="btn btn-primary">HOME</button></center>
    </div></form>
  </body>
  </html>