<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   

    <title>SKIP</title>
  </head>
  <body><form method="POST">
    <div align="center">
      <h1>Are you sure????</h1>
      <button type="submit" class="btn btn-secondary" name = "action" value = 'yes'>YES</button><br />
      <button type="submit" class="btn btn-secondary" name = "action" value = 'no'>NO</button>
    </div></form>
  </body>
  </html>